#root {
  margin: auto;
}

.container {
  width: 500px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.form-date-container {
  display: block;
}

.form-label-date {
  display: block;
  margin-left: 10px;
}

.form-label-distance {
  display: block;
  margin-left: 10px;
}

#form-date, #form-distance, #form-ok {
  margin-top: 10px;
  box-sizing: border-box;
  height: 40px;
  border-radius: 10px;
}

#form-ok {
  width: 60px;
}

.steps-сontainer {
  margin-top: 15px;
}

.step-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.step-el {
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
  margin-top: 15px;
}

.step {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: space-between;
}

.step-date {
  margin-right: 140px;
}

.step-distance {
  margin-right: 130px;
}

.step-edit {
  margin-right: 15px;
}

.step-edit:hover {
  cursor: pointer;
}

.step-delete:hover {
  cursor: pointer;
}
